* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top--nav-bar-m {
    display: flex;
    background-color: var(--color-bg-color-2);
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
    justify-content: center;
}

.main--nav-bar-m {
    display: flex;
    height: 70px;
    margin: auto;
    padding: 0px 20px;
    justify-content: center;
}

.m-nav--bar {
    display: flex;
    height: 100%;
    width: 67%;
    border-bottom: 0.1px solid var(--header-menu-top-color);
    align-content: center;
}

.bottom--nav-bar-m {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 38px;
    margin: auto;
}

.b-nav--bar {
    display: flex;
    height: 100%;
    height: 25px;
    width: auto
}

.choices {
    font-family: var(--font-family-system);
    color: var(--color-text-2);
    font-weight: 400;
    font-size: 13px;
    margin: 0px 15px;
    padding: 5px 10px;
}

.t-nav--bar {
    display: flex;
    width: 67%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.t-nav--left {
    height: 100%;
    margin-right: 160px;
}

.t-nav--center {
    height: 100%;
}

.top-nav--text {
    font-size: 11px;
    font-family: var(--font-family-primary);
    color: var(--header-menu-top-color);
}

.middle-right--menu {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    height: 28px;
    width: auto;
    align-self: center;
    padding-left: 22px;
}

.subscription--button {
    color: var(--color-color-4-contrast);
    background-color: var(--color-color-4);
    font-weight: 600;
    width: 79px;
    height: 28px;
    align-items: center;
    border-radius: 60px;
}

.login--button {
    color: var(--color-bg-color-2-contrast);
    background-color: var(--color-bg-color-2);
    width: 79px;
    height: 28px;
    align-items: center;
    border-radius: 60px;
}

.sub-button--text {
    font-size: 12.5px;
    font-family: var(--font-family-primary);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.login-button--text {
    font-size: 12.5px;
    font-family: var(--font-family-system);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.div-search--button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger--menu {
    display: flex;
    align-items: center;
}

.search--button {
    display: flex;
    align-items: center;
}

.menu--breaker {
    height: 24px;
    width: 1px;
    background-color: var(--header-menu-primary-color);
    align-self: center;
    margin-left: 6px;
}

.centered--text {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav--center {
    margin: 30px;
}

.nav--right {
    margin-left: 35px;
}

.delfi-logo {
    height: auto            
}

.middle--text {
    line-height: 13px;
    font-family: var(--font-family-system);
    color: var(--header-menu-primary-color);
    font-size: 13px;
    font-weight: 600;
    margin: 24px 15px;
    padding: 5px 10px;
}

.middle-center--choices {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.news--bar {
    padding: 15px 0px;
    height: 100%;
    width: 100%;
}

.first-news--section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1224px;
    height: 1115px;
    margin: auto;
}

.r-o-news--picture {
    height: 314px;
    width: 100%;
}

.f-row--one {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 437px;
}

.fro-news--one {
    width: 612px;
    height: 428px;
    padding: 0px 12px;
}

.fro-news--two {
    width: 612px;
    height: 428px;
    padding: 0px 12px;
}

.r-o-news--text {
    font-family: var(--font-family-primary);
    font-weight: var(--h1-lg-font-weight);
    line-height: var(--h1-lg-line-height);
    color: var(--color-text-1);
    margin: 14px 0px;
    word-break: break-word;
    font-size: var(--h2-lg-font-size);
    width: 100%;
    height: auto;
}

.f-row--two {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 294px;
}

.frt-news {
    width: 306px;
    height: 294px;
    padding: 0px 12px;
}

.r-t-news--text {
    font-family: var(--font-family-primary);
    font-weight: var(--h1-lg-font-weight);
    line-height: var(--h1-lg-line-height);
    color: var(--color-text-1);
    margin: 10px 0px;
    word-break: break-word;
    font-size: var(--h4-lg-font-size);
    width: 100%;
    height: auto;
}

.r-t-news--picture {
    height: 166px;
    width: 100%;
}

.f-row--three {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 335px;
}

.frth-news {
    width: 408px;
    height: 354px;
    padding: 0px 12px;
}

.r-th-news--picture {
    height: 210px;
    width: 100%;
}

.r-th-news--text {
    font-family: var(--font-family-primary);
    font-weight: var(--h1-lg-font-weight);
    line-height: var(--h1-lg-line-height);
    color: var(--color-text-1);
    margin: 10px 0px;
    word-break: break-word;
    font-size: var(--h4-lg-font-size);
    width: 100%;
    height: auto;
}

img {
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


:root {
    --color-bg-color-1: #fff;
    --color-bg-color-2: #edf2f4;
    --color-bg-color-3: #e9f6ff;
    --color-bg-color-4: #0f134b;
    --color-bg-color-5: #ffff56;
    --color-color-1: #3858f5;
    --color-color-2: #3858f5;
    --color-color-3: #edf2f4;
    --color-color-4: #3858f5;
    --color-grey-1: #708597;
    --color-grey-2: #dedfe0;
    --color-grey-3: #edf2f4;
    --color-text-1: #050f19;
    --color-text-2: #708597;
    --color-text-3: #0f134b;
    --color-link-1: #3858f5;
    --color-link-2: #fa044f;
    --color-bg-color-1-hover: #d3d3d3;
    --color-bg-color-1-contrast: #3858f5;
    --color-bg-color-2-hover: #c4c8ca;
    --color-bg-color-2-contrast: #222;
    --color-bg-color-3-hover: #c1ccd3;
    --color-bg-color-3-contrast: #222;
    --color-bg-color-4-hover: #3f426f;
    --color-bg-color-4-contrast: #fff;
    --color-bg-color-5-hover: #d3d34c;
    --color-bg-color-5-contrast: #222;
    --color-color-1-hover: #6079f7;
    --color-color-1-contrast: #fff;
    --color-color-2-hover: #6079f--font-family-system7;
    --color-color-2-contrast: #fff;
    --color-color-3-hover: #c4c8ca;
    --color-color-3-contrast: #222;
    --color-color-4-hover: #6079f7;
    --color-color-4-contrast: #fff;
    --color-grey-1-hover: #8d9dac;
    --color-grey-1-contrast: #fff;
    --color-grey-2-hover: #b8b9ba;
    --color-grey-2-contrast: #222;
    --color-grey-3-hover: #c4c8ca;
    --color-grey-3-contrast: #222;
    --color-text-1-hover: #373f47;
    --color-text-1-contrast: #fff;
    --color-text-2-hover: #8d9dac;
    --color-text-2-contrast: #fff;
    --color-text-3-hover: #3f426f;
    --color-text-3-contrast: #fff;
    --color-link-1-hover: #6079f7;
    --color-link-1-contrast: #fff;
    --color-link-2-hover: #fb3672;
    --color-link-2-contrast: #fff;
    --color-white: #fff;
    --color-black: #222;
    --color-total-package: #00d46e;
    --color-total-package-hover: #00bb61;
    --color-facebook: #4267b2;
    --color-twitter: #1da1f2;
    --color-instagram: #833ab4;
    --color-content-marketing: #496170;
    --color-error: #ffd9de;
    --header-menu-top-color: var(--color-text-2);
    --header-menu-primary-color: var(--color-black);
    --header-menu-primary-text-transform: none;
    --header-menu-primary-font-size: 13px;
    --header-menu-separator-enabled: block;
    --header-sitemap-footer-color: var(--color-grey-1);
    --article-font-body-font-family: Roboto,sans-serif;
    --article-font-body-font-size: 16px;
    --article-font-body-font-weight: 400;
    --article-font-lead-font-family: Roboto,sans-serif;
    --article-font-lead-font-size: 16px;
    --article-font-lead-font-weight: 700;
    --font-family-system: Inter,sans-serif;
    --font-family-primary: Inter,sans-serif;
    --font-family-secondary: Roboto,sans-serif;
    --text-type-1-font-size: 12px;
    --text-type-1-font-weight: 700;
    --text-type-2-font-size: 12px;
    --text-type-2-font-weight: 500;
    --text-type-3-font-size: 13px;
    --text-type-3-font-weight: 400;
    --h1-lg-font-size: 30px;
    --h1-lg-font-weight: 600;
    --h1-lg-line-height: 1.3;
    --h1-sm-font-size: 20px;
    --h1-sm-font-weight: 600;
    --h1-sm-line-height: 1.3;
    --h2-lg-font-size: 22px;
    --h2-lg-font-weight: 600;
    --h2-lg-line-height: 1.3;
    --h2-sm-font-size: 19px;
    --h2-sm-font-weight: 600;
    --h2-sm-line-height: 1.3;
    --h3-lg-font-size: 20px;
    --h3-lg-font-weight: 600;
    --h3-lg-line-height: 1.3;
    --h3-sm-font-size: 18px;
    --h3-sm-font-weight: 600;
    --h3-sm-line-height: 1.3;
    --h4-lg-font-size: 17px;
    --h4-lg-font-weight: 600;
    --h4-lg-line-height: 1.3;
    --h4-sm-font-size: 17px;
    --h4-sm-font-weight: 600;
    --h4-sm-line-height: 1.3;
    --h5-lg-font-size: 15px;
    --h5-lg-font-weight: 600;
    --h5-lg-line-height: 1.3;
    --h5-sm-font-size: 15px;
    --h5-sm-font-weight: 600;
    --h5-sm-line-height: 1.3;
    --h6-lg-font-size: 14px;
    --h6-lg-font-weight: 600;
    --h6-lg-line-height: 1.3;
    --h6-sm-font-size: 15px;
    --h6-sm-font-weight: 600;
    --h6-sm-line-height: 1.3;
}